
<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.example.mynewproject" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" >
     <name>MyNewProject</name>
    <description>
        A sample Apache Cordova application that does something interesting.
    </description>
   <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="login.html" />
     
    
    
</widget>

